body    {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh

}
flag {
    display: flex;
    width: 88vw;
    height: calc(80vw / 1.9);
    background-color: purple;
}
row {
    display: inline-block;
    height: calc(80vw / 1.9 / 7);
    width: 100%;
    background-color: black;

}